.xdb-home-center {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.xdb-home_header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 20px 0px;
    width: 100%;
    margin-top: 0px;
    transition: all 0.3s ease-out 0s;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 100;
    right: 0px;
    left: 0px;
    top: 0px;
    transition: .3s all ease-in-out;
    height: 96px;
}

.xdb_home_header_and {
    padding: 7px 0px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 10px -2px;
}

.home-header_concent {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 80px;
    width: 100%;
    margin: 0 16px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-nav-collapse {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    transition: opacity 0.3s ease-in-out 0s;
}
.header-nav-collapse-active {
    opacity: 0;
}
.nav-collapse_ul {
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    margin-left: auto !important;
    padding-left: 0;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
     
     li {
        position: relative;
        cursor: pointer;
        padding: 15px;
        overflow: hidden;
        font-size: 16px;
        border-radius: 30%;
     }
     a {
         color: #333;
     }
     .active {
         color: #007fff;
     }
}
.nab-collapse_top2 {
    li {
        a {
            color: #fff;
        }
    }
}
.home-header_login {
    color: #007fff;
    cursor: pointer;
}
.navBtn {
    position: relative;
    z-index: 1;
    cursor: 'pointer';
    font-size: 0;
    margin-left: '3px';
}
.toggle-btn {
    background-color: transparent;
    border: 0 none;
    padding: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    .icon-bar {
        background-color: #333;
        display: block;
        height: 2px;
        margin-bottom: 5px;
        width: 25px;
        position: relative;
        transition: all 0.3s ease-in-out 0s;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.active {
        .icon-bar {
            &:nth-child(1) {
                top: 9px;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
                visibility: hidden;
            }
            &:nth-child(3) {
                top: -5px;
                transform: rotate(-45deg);
            }
        }
    }
}
.toggle-btn2 {
    .icon-bar {
        background-color: #fff;
    }
}

.xdb-home_banner {
    width: 100%;
    height: 100%;
    background: url('http://39.108.184.64/image/74702172029990191571974897679.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}
.xdb-home_tip {
    position: absolute;
    top: 30vh;
    left: 11vw;
    width: 720px;
    height: 100px;
    font-size: 30px;
    color: #fff;
}
.banner_tip {
    transition: opacity 0.3s ease-in 0s;
}
.home-tip_top {
    margin-bottom: 40px;
}
.home-tip_bottom {
    padding-left: 40px;
}
.tip-cursor {
    display: inline-block;
    width: 10px;
    height: 4px;
    background: #fff;
    vertical-align: bottom;
    margin: 0 0 9px 3px;
}
.tip-opacity {
    opacity: 0;
}
.home-center {
    width: 100%;
    height: 100%;
    background: url('http://39.108.184.64/image/426830039395680541571974907336.jpg') no-repeat center;
    background-size: cover;
}

.xdb-home_box {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
    transform: translate3d(0px, 0%, 0px);
    transition: all 1000ms ease 0s;
}

.page1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0px;
}
.page2 {
    position: absolute;
    top: 100%;
    left: 0px;
}
.home-center_box {
    position: absolute;
    max-width: 770px;
    top: 25%;
    left: 30px;
    .center-box {
        padding: 0 20px;
        .ant-tabs-nav .ant-tabs-tab {
            padding: 0;
            width: 23px;
            height: 5px;
            background-color: #fff;
            border-radius: 3px;
            margin-right: 11px;
        }
        .ant-tabs-nav-scroll {
            display: flex;
            justify-content: center;
        }
        .ant-tabs-bottom .ant-tabs-bottom-bar {
            border-top: none;
        }
        .ant-tabs-bottom .ant-tabs-bottom-bar .ant-tabs-ink-bar {
            // color: #fff;
            display: none!important;
        }
        .ant-tabs-bottom .ant-tabs-bottom-bar {
            margin-top: -3px;
        }
    }
    .center-box_title {
        color: #fff;
        font-size: 30px;
        margin-bottom: 18px;
        strong {
            color: #007fff;
        }
    }
    .center-box_article {
        font-size: 20px;
        color: #fff;
        line-height: 40px;
        min-height: 206px;
        .box-article_tag {
            display: flex;
            li {
                font-size: 17px;
                display: inline-block;
                line-height: 14px;
                border-radius: 4px;
                margin-right: 7px;
                padding: 6px;
                &:nth-child(1) {
                    color: red;
                }
                &:nth-child(2) {
                    color: yellow;
                }
                &:nth-child(3) {
                    color: #00ff94;
                }
                &:nth-child(4) {
                    color: #00fffe;
                }
                &:nth-child(5) {
                    color: #ffffff;
                }
            }
        }
        .box-article_list {
            font-size: 18px;
            li {
                line-height: 64px;
                &:nth-child(2) {
                    text-indent: 40px;
                }
                &:nth-child(3) {
                    text-indent: 80px;
                }
            }
        }
    }
}

.ant-tabs-nav .ant-tabs-tab-active {
    background-color: #40a9ff!important;
}
.warther_box_text {
    position: absolute;
    z-index: 3;
    letter-spacing: 6px;
}